{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="modal-title">Forgot Your Password?</h4>
                <br>
                {% include 'includes/alerts.html' %}
                <form class="join" action="{% url 'forgotpassword' %}" method="post">
                    {% csrf_token %}
                  <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                  <br>

                  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                  <a href="{% url 'login' %}" data-action="Sign-In">Back ></a>
                </form>
              </div>
              <div class="col-sm-6">
                <br><br>
                <p>
                  Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  

{% endblock %}