{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="modal-title">Forgot Your Password?</h4>
                <br>
                {% include 'includes/alerts.html' %}
                <form class="join" action="{% url 'resetpassword' %}" method="post">
                    {% csrf_token %}
                  <input type="password" name="password" value="" placeholder="Create Password" required="" class="form-control" />
                  <br>
                  <input type="password" name="cpassword" value="" placeholder="Confirm Password" required="" class="form-control" />
                  <br>
                  <button type="submit" class="btn btn-primary btn-sm-2">Submit</button>
                  
                  <br><br>
                  <p>
                    Don't have an account? Create one now! <a href="{% url 'register' %}"> Registration > </a>
                  </p>
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  

{% endblock %}